<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
    <link rel="stylesheet" type="text/css" href="../static/app.css">
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
    <title>Xypo - Online Learning</title>
</head>

<body>
    <section id="header">
        <div class="spawn-container">
            <img class="logo" src="../static/images/logo.png" alt="About">
            <div class="header-text">
                <h1>The purpose is to <br> teach, bring learning to people.</h1>
                <span class="square"></span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate sint recusandae culpa nobis, odio quam provident tenetur voluptas ipsum porro earum neque, nam dolorum a quibusdam, delectus officia eum quaerat!</p>
                <button class="common-button">Read More</button>

                <div class="line-block">
                    <span class="line-1"></span><br>
                    <span class="line-2"></span><br>
                    <span class="line-3"></span>
                </div>
            </div>
        </div>

    </section>

    <nav id="sideNav">
        <ul>
            <li>
                <a href="#header">HOME</a>
            </li>
            <li>
                <a href="#about">ABOUT US</a>
            </li>
            <li>
                <a href="#features">FEATURES</a>
            </li>
            <li>
                <a href="#courses">COURSES</a>
            </li>
            <li>
                <a href="#offer">OFFER</a>
            </li>
            <li>
                <a href="#contact">CONTACT</a>
            </li>
        </ul>
    </nav>

    <img src="../static/images/menu.png" alt="Menu" id="menuBtn">


    <!--About-->

    <section id="about">

        <div class="col-left">

            <img src="../static/images/about.png" alt="About Us">
        </div>
        <div class="col-right">

            <div class="about-text">
                <h1>About Us</h1>
                <span class="square"></span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta error soluta, quis non quidem, officia possimus culpa eligendi et mollitia quam iusto itaque nobis. Ullam nobis reiciendis aliquam aperiam est!</p><br><br>
                <div class="line-block">
                    <span class="line-1"></span><br>
                    <span class="line-2"></span><br>
                    <span class="line-3"></span>
                </div>
                <h2>"The beautiful thing about learning is that nobody can take it away from you."</h2>
                <h3>-- Amar Thakur</h3>
            </div>
        </div>
    </section>

    <!--Features-->

    <section id="features">
        <div class="feature-row">
            <div class="feature-col">

                <img src="../static/images/pic-1.png" alt="Pic 1">
                <h4>Learn Anywhere</h4>
                <p>Switch between your computer, laptop and mobile device.</p>
            </div>
            <div class="feature-col">
                <img src="../static/images/pic-2.png" alt="Pic 1">
                <h4>Expert Teachers</h4>
                <p>Learn from the subject matter expert.</p>
            </div>
            <div class="feature-col">
                <img src="../static/images/pic-3.png" alt="Pic 1">
                <h4>Unlimited Access</h4>
                <p>Choose what you want to learn from our extensive library.</p>
            </div>
        </div>
        <div class="feature-btn">
            <div class="line-block">
                <span class="line-1"></span><br>
                <span class="line-2"></span><br>
                <span class="line-3"></span>
            </div>
            <button class="common-button">Start Free Trial</button>
        </div>
    </section>

    <!--Courses-->

    <section id="courses">
        <div class="spawn-container course-row">
            <div class="course-left-col">
                <div class="course-text">
                    <h1>Browse our<br>top courses</h1>
                    <span class="square"></span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex sapiente autem modi officia cupiditate, dicta voluptatem error perferendis quas minima. Minima voluptas at hic facere consequuntur, ipsa cupiditate! Eum, provident!</p>
                    <button class="common-button">View All Courses</button>
                    <div class="line-block">
                        <span class="line-1"></span><br>
                        <span class="line-2"></span><br>
                        <span class="line-3"></span>
                    </div>
                </div>

            </div>
            <div class="course-right-col">
                <img src="../static/images/course.png" alt="Course Icon">
            </div>
        </div>
    </section>

    <!--Offer -->

    <section id="offer">

        <div class="col-left">
            <img src="../static/images/offer.png" alt="About Us">
        </div>
        <div class="col-right">

            <div class="about-text">
                <h1>Limitless learning,<br>limitless possibilities</h1>
                <span class="square"></span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta error soluta, quis non quidem, officia. To learn better we have to study hard and understand in depth of the subject.
                </p>
                <button class="common-button">Start Free Trial</button>
                <div class="line-block">
                    <span class="line-1"></span><br>
                    <span class="line-2"></span><br>
                    <span class="line-3"></span>
                </div>
            </div>
        </div>
    </section>

    <!--Contact-->
    <section id="contact">
        <div class="spawn-container contact-row">
            <div class="contact-left-col">
                <h1>Sign Up to join our<br>learning community</h1>
                <form action="#">
                    <input type="text" placeholder="Enter name">
                    <input type="email" placeholder="Enter email">
                    <input type="password" placeholder="Enter password">

                    <div class="btn-box">
                        <button class="common-button">Sign Up</button>
                        <button class="common-button">Start Free Trial</button>
                    </div>
                </form>
                <div class="line-block">
                    <span class="line-1"></span><br>
                    <span class="line-2"></span><br>
                    <span class="line-3"></span>
                </div>
            </div>
            <div class="contact-right-col">
                <img src="../static/images/contact.png" alt="Contact">
            </div>
        </div>
    </section>

    <!--Footer-->

    <section id="footer">
        <div class="spawn-container footer-row">
            <hr>
            <div class="footer-left-col">
                <div class="footer-links">
                    <div class="link-title">
                        <h4>Product</h4>
                        <small>Our Plan</small><br>
                        <small>Free Trial</small>
                    </div>
                    <div class="link-title">
                        <h4>About Us</h4>
                        <small>Request Demo</small><br>
                        <small>FAQs</small>
                    </div>
                    <div class="link-title">
                        <h4>Support</h4>
                        <small>Features</small><br>
                        <small>Contact Us</small>
                    </div>
                    <div class="link-title">
                        <h4>Explore</h4>
                        <small>Find a non-profit</small><br>
                        <small>Corporate Solution</small>
                    </div>
                </div>
            </div>
            <div class="footer-right-col">
                <div class="footer-info">
                    <div class="copyright-text">
                        <small>care@spawnai@gmail.com</small><br>
                        <small>Copyright @2020 Xypo</small>
                    </div>

                    <div class="footer-logo">
                        <img src="../static/images/logo.png" alt="Logo">
                        <button class="common-button">English</button>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--Social Icons-->

    <div class="social-icons">
        <img src="../static/images/facebook.png" alt="Facebook">
        <img src="../static/images/instagram.png" alt="instagram">
        <img src="../static/images/twitter.png" alt="Twitter">
        <img src="../static/images/linkedin.png" alt="Linked In">
    </div>

    <script>
        var menuBtn = document.getElementById("menuBtn");
        var sideName = document.getElementById("sideNav");
        sideName.style.right = "-250px";

        menuBtn.onclick = function() {
            if (sideName.style.right == "-250px") {
                sideName.style.right = "0px";
            } else {
                sideName.style.right = "-250px"
            }
        }
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function() {
            $("#spawn_btn").click(function() {
                $("#spawn").fadeToggle();
            });
        });

        function submit() {
            alert("Im Clicked");
            document.getElementById("submit").style.background = "blue"
        }
        var scroll = new SmoothScroll('a[href*="#"]', {
            speed: 1000,
            speedAsDuration: true
        });
    </script>

</body>

</html>